<template>
  <Layout>
    <h1>OPEN-CUTS</h1>

    <h2>Crowdsourced User-Testing</h2>
    <div class="responsive-media-container">
      <video controls="">
        <source
          src="https://tib.flowcenter.de/mfc/medialink/3/de0a98cb5b6c6beb6c64b057dba0083b1cfcab5b4b36dad7a4f5091fd84f57c056/Sprinz_2022_Crowdsourced-User-Testing_Video.mp4"
          type="video/mp4"
        />
        <em>Your browser does not support the video element.</em>
      </video>
    </div>
    <p>
      The above is a recording of the
      <a href="https://doi.org/10.5446/56345">Bachelor Thesis Presentation</a>
      “<a href="https://doi.org/10.5282/ubm/epub.91046"
        >Leveraging Human Computation for Quality Assurance in Open Source
        Communities</a
      >”. You can find more scholarly works
      <a href="/publications">on the publications page</a>.
    </p>

    <h2>Hang on, developers are developing!</h2>
    <p>
      You will find more information here shortly. For now, you can head over to
      <a href="https://ubports.open-cuts.org" target="_blank" rel="noopener"
        >ubports.open-cuts.org</a
      >
      for a demo installation used by the
      <a href="https://ubports.com" target="_blank" rel="noopener"
        >UBports Community</a
      >. OPEN-CUTS is still very much in development; get involved on
      <a href="https://gitlab.com/open-cuts" target="_blank" rel="noopener"
        >GitLab</a
      >!
    </p>
    <img src="/preview.gif" class="shadow" style="width: 100%" />

    <h2 style="margin-top: 1em">Free and open source!</h2>
    <p>
      OPEN-CUTS is free and open source software originally developed by
      <a href="https://spri.nz" target="_blank" rel="noopener"
        >Johannah Sprinz</a
      >. You can find an overview of the source code and the terms of the
      license <a href="/source">here</a>.
    </p>

    <h2>Similar projects</h2>
    <p>
      You might also be interested to check out some other projects aimed to
      help open-source communities with QA. Check out
      <a href="https://www.systemtestportal.org/" target="_blank" rel="noopener"
        >SystemTestPortal</a
      >
      for an excellent system testing platform with a focus on accessible data
      presentation and
      <a href="https://kiwitcms.org/" target="_blank" rel="noopener"
        >Kiwi TCMS</a
      >
      for a fully-fledged feature-rich test case management system! In free and
      open source software, it's not about competition, it's about
      collaboration. Use what best fits your need!
    </p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "OPEN-CUTS"
  }
};
</script>
