<template>
  <Layout>
    <router-link to="/">
      <img id="logo" src="/logo.svg" class="center" />
    </router-link>
    <div class="splash text-center">
      <h1>OPEN-CUTS</h1>
      <p>
        <strong>open c</strong>rowdsourced <strong>u</strong>ser
        <strong>t</strong>esting <strong>s</strong>uite
      </p>

      <b-button size="lg" variant="primary" to="/explore">
        <b-icon-signpost-split />
        Explore
      </b-button>
    </div>

    <h2>A testing platform for open source communities</h2>
    <p>
      OPEN-CUTS is a web-based software suite that allows open source community
      members to easily contribute user test results. The software aggregates
      and analyzes those reports to provide useful information for developers.
    </p>

    <h2>Hang on, developers are developing!</h2>
    <p>
      You will find more information here shortly. For now, you can head over to
      <a href="https://ubports.open-cuts.org" target="_blank" rel="noopener"
        >ubports.open-cuts.org</a
      >
      for a demo installation used by the
      <a href="https://ubports.com" target="_blank" rel="noopener"
        >UBports Community</a
      >. OPEN-CUTS is still very much in development; get involved on
      <a href="https://gitlab.com/open-cuts" target="_blank" rel="noopener"
        >GitLab</a
      >!
    </p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "OPEN-CUTS"
  }
};
</script>
