<template>
  <Layout>
    <h1>OPEN-CUTS Publications</h1>
    <h2>Publications on OPEN-CUTS itself</h2>
    <p>
      The following publications concern themselves with the underlying ideas of
      OPEN-CUTS or describe features of the software itself.
    </p>

    <p></p>
    <p>
      J. Sprinz, 2022.
      <b>Crowdsourced User-Testing.</b>
      Munich: Oberseminar Knowledge Representation and Reasoning, LMU Munich.<br />
      doi: <a href="https://doi.org/10.5446/56345">10.5446/56345</a>
    </p>
    <p>
      J. Sprinz, 2022.
      <b
        >Leveraging Human Computation for Quality Assurance in Open Source
        Communities.</b
      >
      Munich: LMU Munich, Bachelor Thesis.<br />
      doi:
      <a href="https://doi.org/10.5282/ubm/epub.91046"
        >10.5282/ubm/epub.91046</a
      >
    </p>

    <h2>See also</h2>
    <p>
      The following publications are related to OPEN-CUTS, but do not concern
      themselves with the software or the underlying ideas. Articles mentioned
      here might, for example, use OPEN-CUTS as a research tool.
    </p>
    <p>
      J. Sprinz, 2022.
      <b
        >A collaborative effort to create a user-friendly installer for
        different mobile operating systems.</b
      >
      EU: The Journal of Brief Ideas.<br />
      doi:
      <a href="https://doi.org/10.5281/zenodo.6288520"
        >10.5281/zenodo.6288520</a
      >
    </p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "OPEN-CUTS"
  }
};
</script>
