<template>
  <Layout>
    <h1>OPEN-CUTS Source Code</h1>

    <a href="https://www.open-cuts.org" target="_blank" rel="noopener"
      >OPEN-CUTS</a
    >
    is free and open source software, so the source code for all components is
    made available under a license granting you essential freedoms to use,
    study, share, and improve the code. The below list specifies the core
    components that make up OPEN-CUTS, which are licensed under the terms of the
    <a href="/LICENSE">GNU Affero General Public License</a> as published by the
    <a href="https://fsf.org" target="_blank" rel="noopener"
      >Free Software Foundation</a
    >, either version 3 of the License, or (at your option) any later version.
    Original development by
    <a href="https://spri.nz" target="_blank" rel="noopener">Johannah Sprinz</a
    >. Copyright (C) 2020-2022
    <a href="https://ubports.com" target="_blank" rel="noopener"
      >UBports Foundation</a
    >.

    <ul>
      <li>
        <a
          href="https://gitlab.com/open-cuts/open-cuts"
          target="_blank"
          rel="noopener"
          >OPEN-CUTS API server</a
        >
      </li>
      <li>
        <a
          href="https://gitlab.com/open-cuts/open-cuts-web"
          target="_blank"
          rel="noopener"
          >OPEN-CUTS default web frontend</a
        >
      </li>
      <li>
        <a
          href="https://gitlab.com/open-cuts/open-cuts-ansible"
          target="_blank"
          rel="noopener"
          >Ansible-Playbooks used to manage OPEN-CUTS</a
        >
      </li>
    </ul>

    <p>
      Please note that licenses for third-party components migtht differ. Please
      confer with the respective publishers to learn more.
    </p>

    <h2 style="margin-top: 1em">Disclaimer</h2>
    <p>
      OPEN-CUTS is distributed in the hope that it will be useful, but WITHOUT
      ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
      FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
      License for more details.
    </p>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Source Code"
  }
};
</script>
