<template>
  <div id="app" class="layout">
    <header class="header">
      <b-navbar-brand>
        <g-link to="/">
          <img class="brand-image" alt="OPEN-CUTS logo" src="/logo.svg" />
          OPEN-CUTS
        </g-link>
      </b-navbar-brand>
      <b-navbar toggleable="md" type="light" align="end">
        <b-navbar-toggle target="nav-item-collapse" />

        <b-collapse id="nav-item-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/explore">
              Explore
              <b-icon-signpost-split />
            </b-nav-item>
            <b-nav-item to="/publications">
              Publications
              <b-icon-book />
            </b-nav-item>
            <b-nav-item to="/source">
              Source Code
              <b-icon-code-slash />
            </b-nav-item>
            <b-nav-item
              href="https://ubports.open-cuts.org"
              target="_blank"
              rel="noopener"
            >
              ubports.open-cuts.org
              <b-icon-box-arrow-up-right />
            </b-nav-item>
            <b-nav-item
              href="https://gitlab.com/open-cuts"
              target="_blank"
              rel="noopener"
            >
              GitLab
              <g-image src="/gitlab.svg" aria-label="gitlab" class="fake-fa" />
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
    <slot />
  </div>
</template>
